@import '../../global/helpers/index';
@import '../helpers/index';

.body {
  width: 100%;
  height: 100%;
  padding: 0 4rem;
  overflow-x: hidden;
  overflow-y: auto;
}

.container {
}

.wrapper {
  position: fixed;
  top: $header-height;
  left: 50%;
  display: grid;
  grid-template-columns: $sidebar-width calc(100% - $sidebar-width);
  padding-top: 4rem;
  width: $width;
  max-width: $max-width;
  height: calc(100vh - ($header-height + $footer-height));
  transform: translateX(-50%);
}
