@import "../../global/helpers/index";

.copyright {
  @include font-size(small);
  margin-bottom: 0;

  @include respond(small) {
    @include font-size(regular);
  }
}

.wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  height: 70px;
}
