@import '../../global/helpers/index';
@import '../helpers/index';

.copyright {
  @include font-size(small);
  margin-bottom: 0;

  @include respond(small) {
    @include font-size(regular);
  }
}

.wrapper {
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: $width;
  max-width: $max-width;
  height: $footer-height;

  &__fixed {
    position: fixed;
    bottom: 0;
    left: 50%;
    margin: 0;
    transform: translateX(-50%);
  }
}
