@import '../../global/helpers/index';
@import '../helpers/index';

.copyright {
  @include font-size(small);
  margin-bottom: 0;

  @include respond(small) {
    @include font-size(regular);
  }
}

.wrapper {
  position: fixed;
  bottom: 0;
  left: 50%;
  display: flex;
  align-items: center;
  width: $width;
  max-width: $max-width;
  height: $footer-height;
  transform: translateX(-50%);
}
