@import '../../global/helpers/index';
@import '../helpers/index';

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: $width;
  max-width: $max-width;
  height: 100%;
  margin: 0 auto;
}

.logo {
  display: inherit;
}

.nav {
  display: flex;
  align-items: center;
}

.profile {
  margin-left: 3rem;

  img {
    border-radius: 50%;
  }

  span:hover {
    &::before {
      content: none !important;
    }
  }
}

.wrapper {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  align-items: center;
  width: 100%;
  height: $header-height;
  background-color: color(white);
  box-shadow: $header-shadow;
}
