@import '../../global/helpers/index';

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: calc(100vh - 18rem);

  @include respond(medium) {
    display: grid;
    grid-template-columns: 48% 52%;
    padding: 6rem 3rem;
    min-height: auto;
  }

  @include respond(large) {
    grid-template-columns: 52% 48%;
    padding-top: 0;
    padding-bottom: 3rem;
    min-height: calc(100vh - 18rem);
  }
}

.content {
  z-index: 2;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 6rem 0;
  text-align: center;

  @include respond(medium) {
    align-items: flex-start;
    padding: 0 4rem 0 0;
    text-align: left;
  }
}

.image {
  display: flex;
  align-items: center;
  width: 100%;

  &__overlay {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: color(white);
    opacity: 0.9;
  }
}

.slider {
  width: 100%;

  &__dot {
    display: inline-block;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    background-color: color(grey);
    opacity: 0.35;
    transition: 0.3s opacity ease;
    transition-property: opacity, background-color;
    cursor: pointer;

    &:not(:last-child) {
      margin-right: 1rem;
    }

    &__active {
      opacity: 1;
    }
  }

  &__dots {
    margin: 4rem auto 0;

    @include respond(medium) {
      margin: 4rem 0 0;
    }

    @include respond(large) {
      position: absolute;
      bottom: 6rem;
      left: 0;
    }
  }
}

.title {
  @include font-family(ubuntu);
  @include font-weight(regular);
  color: color(primary);
  font-style: italic;

  @include respond(medium) {
  }

  @include respond(large) {
    @include font-size(xx-large);
  }
}

.wrapper {
  margin-top: -4rem;
  width: 100%;
  height: 100%;
}
