@import '../../global/helpers/index';
@import '../helpers/index';

.container {
  width: 100%;
  margin: 0 auto;
  padding-top: 3rem;

  @include respond(large) {
    width: $form-width;
    padding-top: 6rem;
  }
}

.form {
}

.fullname {
  @include fullname;
}

.wrapper {
}
