@import '../../global/helpers/index';

.container {
  margin: 0 auto;
  padding-top: 3rem;
  width: 100%;

  @include respond(large) {
    padding-top: 6rem;
    width: $form-width;
  }
}

.form {
}

.fullname {
  display: flex;

  &__form {
    display: inline-flex;
    flex: 1 1;
    align-items: flex-start;
  }

  &__label {
    display: inline-flex;
    align-items: center;
    justify-content: right;
    padding-bottom: 1.5rem;
    width: 20rem;

    @include respond(large) {
      padding-right: 4rem;
      text-align: right;
    }

    p {
      @include font-size(small);
      color: color(black);
      margin-bottom: 0;
    }
  }
}

.w20 {
  width: 20px;
}

.wrapper {
}
