@import '../../global/helpers/index';
@import '../helpers/index';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: calc(100vh - 70px);
  margin: 0 auto;

  @include respond(large) {
    width: $form-width;
  }
}

.wrapper {
  width: 100%;
  height: 100%;
}
