.header {
  position: relative;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 0;
  }

  &__logo {
    font-size: 2rem;
    color: color(black);

    @include respond(large) {
      font-size: 2.6rem;
    }
  }
}
