html {
  box-sizing: border-box;
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 62.5% /* 10px */;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  word-spacing: 1px;
  scroll-behavior: smooth;
}

body {
  @include font-family(ubuntu);
  @include font-weight(regular);
  box-sizing: border-box;
  color: color(dark);
  letter-spacing: normal;
  line-height: normal;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  &:focus {
    outline: none;
    box-shadow: none;
  }
}

a {
  display: inline-block;
  color: inherit;
  -webkit-font-smoothing: antialiased;
  text-decoration: none;
}

button,
a {
  cursor: pointer;
}
