@import "../../global/helpers/index";

.contact {
  &__icon {
    @include font-size(medium);
    margin-right: 10px;
    color: color(primary);
  }

  &__row {
    display: flex;
    align-items: center;
    padding: 0.5rem 0;
  }

  &__text {
    @include font-size(regular);
  }
}

a.contact__text {
  @extend .link;
}

.copyright {
  @include font-size(regular);
  margin-top: 1rem;
}

.link {
  transition: color 0.3s, font-weight 0.5s;

  &:hover {
    @include font-weight(medium);
    color: color(primary);
  }
}

.social {
  &__link {
    @include font-size(medium);
    color: color(primary);

    &:not(:last-child) {
      margin-right: 5px;
    }

    @include respond(large) {
      @include font-size(large);
    }
  }

  &__wrapper {
    display: flex;

    @include respond(small) {
      justify-content: flex-end;
    }
  }
}

.wrapper {
  border-top: 1px solid rgb(45 105 54 / 15%);
  padding: 5rem 0 3rem;
  width: 100%;
}
