@import "../../global/helpers/index";

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.logo {
  display: inherit;
}

.nav {
  display: flex;
  align-items: center;

  &__button {
    @include font-size(small);
    @include font-weight(medium);
    border-radius: 5px;
    margin: 0 1.2rem;
    padding: 1rem 1.6rem;
    background: $button-gradient;
    color: color(white);
    transition: color 0.4s ease;
    transition-property: background-color, color, box-shadow, transform;

    @include respond(large) {
      &:hover {
        box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
      }
    }
  }

  &__link {
    @include nav-link;
  }

  &__tv {
    composes: nav__button;
    display: inline-flex;
    align-items: center;
    border: 1px solid color(green);
    margin-left: 3rem;
    background: color(white);
    color: color(primary);

    &__icon {
      @include font-size(small);
      position: relative;
      width: 24px;
      height: 24px;

      span {
        &:first-child {
          @include font-size(medium);
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
        &:last-child {
          @include font-size(xx-small);
          position: absolute;
          top: 50%;
          left: 50%;
          margin-top: 1px;
          transform: translate(-50%, -50%);
        }
      }
    }

    &__text {
      @include font-size(small);
      @include font-weight(medium);
    }
  }
}

.wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  background-color: color(white);
}

$cubic: cubic-bezier(0.4, 0.01, 0.165, 0.99);

.mobile {
  position: relative;

  .bar {
    width: 100%;
    height: 1px;
    display: block;
    position: relative;
    background: color(dark);
    transition: all 0.3s $cubic;
    transition-delay: 0s;
  }

  &__bottombar {
    @extend .bar;
    transform: translateY(0px) rotate(0deg);
  }

  &__container {
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  }

  &__logo {
    display: inherit;
  }

  &__nav {
    display: none;

    &__item {
    }

    &__link {
    }
  }

  &__toggler {
    position: relative;
    display: inline-block;
    height: 60px;
    width: 50px;
    cursor: pointer;
    transform: rotate(0deg);
    transition: all 0.3s $cubic;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
  }

  &__topbar {
    @extend .bar;
    transform: translateY(6px) rotate(0deg);
  }
}
