@mixin font-family($keyword) {
  font-family: get-font-family($keyword);
}

@mixin font-size($keyword) {
  font-size: get-font-size($keyword);
}

@mixin font-weight($keyword) {
  font-weight: get-font-weight($keyword);
}

@mixin respond($keyword) {
  // default will be small mobile phones

  @if get-break-point($keyword) {
    @media only screen and (min-width: get-break-point($keyword)) {
      @content;
    }
  }
}

@mixin grid-column($num) {
  flex: 0 0 calc(100% * #{$num} / #{$num-of-columns});
  width: calc(100% * #{$num} / #{$num-of-columns});
}

@mixin heading {
  @include font-family(montserrat);
  @include font-weight(bold);
  margin-bottom: 1rem;
  line-height: 1.2;
  text-transform: capitalize;
  color: color(black);
}

@mixin link {
  @include font-family(ubuntu);
  @include font-size(small);
  @include font-weight(medium);
  position: relative;
  padding: 1rem 1.6rem;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  color: color(primary);

  @include respond(large) {
    &::before {
      position: absolute;
      bottom: 0;
      opacity: 0;
      left: 1.6rem;
      content: "";
      width: calc(100% - 3.2rem);
      height: 2px;
      background-color: color(orange);
      transition: 0.3s opacity;
    }

    &:hover {
      &::before {
        opacity: 1;
      }
    }
  }
}
