/* 
  font utilities
*/

.text-center {
  text-align: center !important;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-capitalize {
  text-transform: capitalize !important;
}

.text-uppercase {
  text-transform: uppercase !important;
}

.text-lowercase {
  text-transform: lowercase !important;
}

.font-italic {
  font-style: italic !important;
}

@each $name, $weight in $font-weights {
  .font-#{'' + $name} {
    font-weight: $weight !important;
  }
}

@each $name, $size in $font-sizes {
  .font-size-#{'' + $name} {
    font-size: $size !important;
  }
}

@each $name, $color in $colors {
  .bg-#{'' + $name} {
    background: $color !important;
  }

  .color-#{'' + $name} {
    color: $color !important;
  }
}

/* 
  layout utilities
*/

$spaces: 5;
$start: 0;

@each $side in $sides {
  @for $i from 1 through 10 {
    $start: $start + 0.5;

    .p#{str-slice($side, 0, 1)}-#{$i} {
      padding-#{$side}: #{$start}rem !important;
    }

    .m#{str-slice($side, 0, 1)}-#{$i} {
      margin-#{$side}: #{$start}rem !important;
    }
  }
  $start: 0;

  .p#{str-slice($side, 0, 1)}-0 {
    padding-#{$side}: 0 !important;
  }

  .m#{str-slice($side, 0, 1)}-0 {
    margin-#{$side}: 0 !important;
  }
}

.h-100 {
  height: 100%;
}

.w-100 {
  width: 100%;
}

.w20 {
  width: 20px;
}

.filler {
  flex-grow: 1 !important;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.align-items-center {
  align-items: center;
}

.align-items-end {
  align-items: flex-end;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-stretch {
  align-items: stretch;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-end {
  justify-content: flex-end;
}

.justify-content-start {
  justify-content: flex-start;
}

.m-auto {
  margin: 0 auto;
}

.divider {
  width: 100%;
  margin: 0;
  border: 1px solid rgba($color: color(lighter-grey), $alpha: 0.3);
}

.close-icon {
  display: block;
  position: relative;
  z-index: 10;
  top: 0;
  right: 0;
  width: 35px;
  height: 35px;
  margin-left: auto;
  padding: 1.2rem;
  transition: all 0.3s ease;
  color: color(black);
  cursor: pointer;

  @include respond(medium) {
    position: absolute;
    top: 0;
    right: 0;
    margin-left: 0;
  }

  &:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);

    span::after,
    span::before {
      width: 100%;
    }

    span:first-child {
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }

    span:last-child {
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }

  span {
    position: absolute;
    top: 18px;
    width: 100%;
    height: 3px;
    transition: all 0.4s cubic-bezier(0.694, 0.048, 0.335, 1);
    background-color: color(red);

    &::after {
      transition: all 0.3s ease 0.3s;
      background-color: color(red);
    }

    &::before {
      transition: all 0.3s ease;
      background-color: color(primary);
    }

    &::after,
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 100%;
    }

    &:first-child {
      left: 0;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
    }

    &:last-child {
      right: 0;
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
  }
}
