@import '../../global/helpers/index';

.author {
  @include font-family(montserrat);
  @include font-size(x-small);
  color: color(black);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding-left: 12px;

  button {
    @include font-family(montserrat);
    @include font-size(x-small);
    padding: 5px 8px;
  }
}

.desc {
  @include font-size(x-small);
  color: color(dark);
}

.image {
  @include delete-button;
  position: relative;
  width: 108px;
  height: 150px;
  border-radius: 10px;
  background-color: color(light-grey);

  &:hover {
    button {
      display: inline-block;
    }
  }

  img {
    border-radius: 10px;
  }
}

.modal {
  width: 100%;

  &__wrapper {
    @include modal-wrapper;
    max-width: 100%;
  }
}

.title {
  @include font-family(montserrat);
  @include font-size(small);
  @include font-weight(semi-bold);
  margin-bottom: 0;
  color: color(black);

  &__link {
    text-decoration: underline;
    cursor: pointer;
  }
}

.wrapper {
  display: grid;
  grid-template-columns: 108px calc(100% - 108px);
}
