@import '../../global/helpers/index';

.text {
  @include font-family(montserrat);
}

.content {
}

.desc {
  @extend .text;
  @include font-size(x-small);
  @include font-weight(medium);
  margin-bottom: 0;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  margin-left: 2rem;
  border-radius: 50%;
  background-color: #e5f1d5;

  span {
    color: color(primary);
    font-size: 20px;
  }
}

.title {
  @extend .text;
  @include font-size(regular);
  @include font-weight(semi-bold);
  margin-bottom: 3px;
  color: color(green);
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.2rem 2rem;
  border: 1px solid rgba(0, 0, 0, 0.09);
  border-radius: 5px;
  background: color(white);
}
