@import '../../global/helpers/index';
@import '../helpers/index';

.buttons {
  display: flex;
  flex: 0 0 100%;
  justify-content: flex-end;
  width: 100%;

  a,
  button {
    @include font-size(small);
    padding: 5px 15px;
    text-align: center;
  }
}

.content {
  width: calc(100% - 100px);
  padding-right: 1.5rem;
}

.desc {
  @include font-size(small);
  color: color(dark);

  p {
    @include font-size(small);
    color: color(dark);
  }
}

.image {
  display: inline-block;
  width: 65px;
  margin-bottom: 1rem;
  text-align: right;
}

.inner {
  display: flex;
  align-items: flex-start;
  width: 100%;
}

.readmore {
  color: color(blue);
  text-decoration: underline;
  cursor: pointer;
}

.time {
  width: 100px;
  text-align: right;

  p {
    @include font-size(small);
    margin-bottom: 1.5rem;
  }
}

.title {
  @include font-family(montserrat);
  @include font-size(small);
  @include font-weight(semi-bold);
  color: color(black);

  &__link {
    text-decoration: underline;
    cursor: pointer;
  }
}

.wrapper {
  @include card;
  display: block;
  margin-bottom: 2.5rem;
}
