@import '../../global/helpers/index';
@import '../helpers/index';

.content {
  width: calc(100% - 100px);
  padding-right: 1.5rem;
}

.desc {
  @include font-size(small);
  color: color(dark);
}

.image {
  display: inline-block;
  width: 65px;
  margin-bottom: 1rem;
  text-align: right;
}

.time {
  width: 100px;
  text-align: right;

  a {
    @include font-size(small);
    width: 100%;
    padding: 5px 0;
    text-align: center;
  }

  p {
    @include font-size(small);
    margin-bottom: 1.5rem;
  }
}

.title {
  @include font-family(montserrat);
  @include font-size(small);
  @include font-weight(semi-bold);
  color: color(black);
}

.wrapper {
  @include card;
  align-items: flex-start;
  margin-bottom: 2.5rem;
}
