@import '../../global/helpers/index';
@import '../helpers/index';

.buttonwrapper {
  width: 100px;

  button {
    width: 100%;
  }
}

.content {
  width: calc(100% - 100px);
  padding-right: 3rem;
}

.price {
  @include font-size(medium);
  margin-bottom: 0;
  color: color(black);
}

.title {
  @include font-family(montserrat);
  @include font-size(small);
  margin-bottom: 0.3rem;
  color: color(black);
}

.wrapper {
  @include card;
  align-items: flex-start;
}
