@import '../../global/helpers/index';
@import '../helpers/index';

.buttonwrapper {
  width: 100px;

  button {
    width: 100%;
  }
}

.content {
  width: calc(100% - 100px);
  padding-right: 3rem;
}

.modal {
  padding: 4rem;
  border: 1px solid rgba($color: color(primary), $alpha: 0.5);
  border-radius: 5px;
  background-color: color(white);

  &__wrapper {
    max-width: 500px;
    margin: 0 auto;
  }
}

.price {
  @include font-size(medium);
  margin-bottom: 0;
  color: color(black);
}

.title {
  @include font-family(montserrat);
  @include font-size(small);
  margin-bottom: 0.3rem;
  color: color(black);
}

.wrapper {
  @include card;
  align-items: flex-start;
}
