@mixin card {
  display: flex;
  position: relative;
  width: 100%;
  padding: 2rem 3rem;
  border-radius: 7px;
  background-color: color(light-green);

  &::after {
    content: '';
    position: absolute;
    top: 10px;
    left: 10px;
    width: 3px;
    height: 45px;
    border-radius: 5px;
    background-color: color(green);
  }
}

@mixin fullname {
  display: flex;

  &__form {
    display: inline-flex;
    flex: 1 1;
    align-items: flex-start;
  }

  &__label {
    display: inline-flex;
    align-items: center;
    justify-content: right;
    width: 20rem;
    padding-bottom: 1.5rem;

    @include respond(large) {
      padding-right: 4rem;
      text-align: right;
    }

    p {
      @include font-size(small);
      margin-bottom: 0;
      color: color(black);
    }
  }
}
