.button {
  @include font-size(regular);
  @include font-weight(medium);
  display: inline-block;
  padding: 1.2rem 2rem;
  transition: color 0.8s ease;
  transition-property: background-color, color, box-shadow, transform;
  border: 0;
  border-radius: 5px;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: capitalize;

  &:focus {
    outline: none;
    box-shadow: none;
  }

  &:disabled {
    opacity: 0.4;
  }

  @include respond(large) {
    &:hover {
      transform: translateY(-2px);
      box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
    }
  }

  &--link {
    transition: color 0.3s ease;
    border: 0;
    outline: none;
    background: transparent;
    color: color(green);

    @include respond(large) {
      &:hover {
        transform: none !important;
        box-shadow: none !important;
        color: color(black);
      }
    }
  }

  span {
    @include font-size(medium);
    vertical-align: middle;
  }

  &--primary {
    background: $button-gradient;
    color: color(white);
  }

  &--outline {
    border: 1px solid color(primary);
    background: transparent;
    color: color(primary);
  }
}

@each $name, $color in $colors {
  .button--#{'' + $name} {
    background: $color;
    color: color(white);
  }
}
