.checkbox {
  display: block;
  position: relative;
  min-height: auto;
  margin-right: 5px;
  padding: 10px 0;

  @include respond(large) {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  input[type='checkbox'],
  input[type='radio'] {
    display: none;
    width: 23px;
    margin: 0;

    &:checked {
      & + label::before {
        color: color(black);
      }
    }

    & + label {
      @include font-size(large);
      display: inline-block;
      margin-bottom: 0.5rem;
      padding-left: 0;
      color: color(dark);
      text-transform: capitalize;
      cursor: pointer;
    }

    & + label::before {
      @include font-family(icomoon);
      @include font-size(small);
      content: '\e903';
      display: inline-block;
      width: 23px;
      height: 23px;
      margin-right: 2rem;
      transition: all 0.2s ease-in-out;
      border: 2px solid color(black);
      background: transparent;
      color: transparent;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-style: normal;
      font-variant: normal;
      font-weight: normal;
      line-height: 1.7;
      vertical-align: bottom;
      cursor: pointer;
      speak: never;

      @include respond(large) {
        margin-right: 2.3rem;
      }
    }
  }
}
