.context {
  position: absolute;
  z-index: 5;
  top: 70%;
  right: 20%;
  width: 15rem;
  padding: 1rem 0;
  border: 2px solid darken($color: color(light-grey), $amount: 10);
  border-radius: 5px;
  background-color: color(white);

  &__empty {
    padding: 3rem 0;
    text-align: center;
  }

  &__list {
    text-align: left;

    .divider {
      margin: 0.5rem 0;
      border-width: 1px;
    }
  }

  &__item {
    @include font-size(small);
    padding: 0.5rem 1.5rem;
    cursor: pointer;

    @include respond(large) {
      transition: all 0.3s ease;

      &:hover {
        background-color: color(light-blue);
        color: color(black);
      }
    }
  }

  &__modal {
    @include modal-wrapper;
    width: 40rem !important;
    margin: 0 auto;

    p {
      @include font-family(montserrat);
      margin-bottom: 4rem;
      padding-top: 1rem;
      color: color(black);
    }
  }
}
