.modal {
  &-backdrop.show {
    opacity: 0.98 !important;
  }

  &-body {
    position: relative;
    padding: 0;
  }

  &-close {
    @include font-size(large);
    padding: 1.6rem;
    color: color(red);
    cursor: pointer;
  }

  &-content {
    position: absolute;
    top: 100px;
    left: 50%;
    width: 90%;
    height: calc(100vh - 160px);
    max-height: 90vh;
    overflow-x: hidden;
    overflow-y: auto;
    transform: translateX(-50%);
    border: 0;
    border-radius: 0;
    background: transparent;

    @include respond(medium) {
      top: 50%;
      left: 50%;
      height: auto;
      transform: translate(-50%, -50%);
    }

    &:focus-visible,
    &:focus,
    &:focus-within {
      outline: none;
    }
  }

  .player-wrapper {
    position: relative;
    z-index: 1;
    padding-top: 56.25%; /* 720 / 1280 = 0.5625 */
  }

  .react-player {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
  }
}

.ReactModal__Overlay {
  z-index: 999;
}
