.searchbar {
  display: inline-flex;
  align-items: center;

  button {
    height: 5rem;
    margin-left: 2rem;
    background: color(green) !important;
  }

  &__close {
    @include font-size(large);
    display: flex;
    position: absolute;
    top: 50%;
    right: 0;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    transform: translateY(-50%);

    @include respond(large) {
      transition: color 0.3s ease;
      cursor: pointer;

      &:hover {
        color: color(green);
      }
    }
  }

  .form__group {
    width: 350px;
    max-width: 100%;
    margin-bottom: 0;

    .form__input {
      background: color(light-blue);
    }
  }

  &--sm {
    button {
      height: 4rem;
    }

    .form__group {
      width: 250px;
    }

    .form__input {
      height: 4rem;
    }
  }
}
