.searchbar {
  display: inline-flex;
  align-items: center;

  button {
    margin-left: 2rem;
    height: 5rem;
    background: color(green) !important;
  }

  .form__group {
    margin-bottom: 0;
    width: 350px;
    max-width: 100%;

    .form__input {
      background: color(light-blue);
    }
  }

  &--sm {
    button {
      height: 4rem;
    }

    .form__group {
      width: 250px;
    }

    .form__input {
      height: 4rem;
    }
  }
}
